
<div class="navbar-wrapper">
  <div class="container">
      <h1>phorum <h5>moments to everlasting memories</h5></h1>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path , class: "active "%></li>
              <li class="dropdown">
                <%= link_to 'Find Photograper <span class="caret"></span>'.html_safe, root_path,:class => "dropdown-toggle", :'data-toggle' => "dropdown", :role => "button", :'aria-haspopup' => "true", :'aria-expanded' =>"false" %>
                <ul class="dropdown-menu">
                <li><%= link_to 'Wedding' ,photographers_path %></li>
                <li><%= link_to 'Portrait' ,photographers_path %></li>
                <li><%= link_to 'Advertising' ,photographers_path %></li>
                <li><%= link_to 'Fashion' ,photographers_path %></li>
                <li><%= link_to 'Music' ,photographers_path %></li>
                <li><%= link_to 'Commercial' ,photographers_path %></li>
                </ul>
              </li>
            <li><%= link_to 'Get Matched', photographers_path %></li>
            <li><%= link_to 'Get Inspired', photographers_path %></li>
            <li><%= link_to 'Blog', photographers_path %></li>
            <li><%= link_to 'Advertise', photographers_path %></li>
            <li><%= link_to 'About us', home_about_path %></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">

                <% if user_signed_in? %>
                <%= link_to (current_user.email + ' <span class="caret"></span>').html_safe, root_path, :class => "dropdown-toggle", :'data-toggle' => "dropdown", :role => "button", :'aria-haspopup' => "true", :'aria-expanded' =>"false" %>
                <ul class="dropdown-menu">
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
                <% else %>
                <%= link_to ('Join <span class="caret"></span>').html_safe, root_path, :class => "dropdown-toggle", :'data-toggle' => "dropdown", :role => "button", :'aria-haspopup' => "true", :'aria-expanded' =>"false" %>
                <ul class="dropdown-menu">

                <li><%= link_to 'Login', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                </ul>
                <% end %>

            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>

<div id="maincarousel" class="carousel slide" data-ride = "carousel">
  <ol class="carousel-indicators">
    <li data-target="#maincarousel" data-slide-to="0" class="active"></li>
    <li data-target="#maincarousel" data-slide-to="1"></li>
    <li data-target="#maincarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "https://s3.amazonaws.com/phorum/homepage/pittsburgh.jpg", class: "first-slide", alt: "First Slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Pittsburg</h1>
          <p>The Steel City, as seen from Mt.Washington.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "https://s3.amazonaws.com/phorum/homepage/prague.jpg",class: "second-slide", alt: "Second Slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Prague</h1>
          <p>Sunrise at Charles Bridge over Vltava river</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "https://s3.amazonaws.com/phorum/homepage/newyorkcity.jpg",class: "third-slide", alt: "Third Slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>New York City</h1>
          <p>World capital as seen from the Hudson bay</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
        </div>
      </div>
    </div>
</div>
<a class="left carousel-control" href="#maincarousel" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#maincarousel" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
