<%= form_for @photographer,html: {multipart: true} do |f| %>
  <% if @photographer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photographer.errors.count, "error") %> prohibited this photographer from being saved:</h2>

      <ul>
      <% @photographer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fburl %><br>
    <%= f.text_field :fburl %>
  </div>
  <div class="field">
    <%= f.label :weburl %><br>
    <%= f.text_field :weburl %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="form-group">
    <%= f.label :image%>
    <%= f.file_field :image,class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
