<p id="notice"><%= notice %></p>


<%= image_tag @photographer.image.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @photographer.name %>
</p>

<p>
  <strong>Fburl:</strong>
  <%= @photographer.fburl %>
</p>

<p>
  <strong>Weburl:</strong>
  <%= @photographer.weburl %>
</p>

<p>
  <strong>About:</strong>
  <%= @photographer.about %>
</p>


<%= link_to 'Edit', edit_photographer_path(@photographer) %> |
<%= link_to 'Back', photographers_path %>
