<!DOCTYPE html>
<html>
<head>
  <title>phorum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'home/header' %>
<body>

<%= yield %>
</body>
</html>
